h2 {
  font-size: 30px;
  color: maroon;
}
h3 {
  margin: 0 auto;
}
p {
  color: rgb(84, 84, 84);
  padding: 10%;
  line-height: 180%;
  letter-spacing: 200%;
  align-content: inherit;
}
/* Structure */
body {
  max-width: 800px;
  margin: 15px auto;
  font-family: Courier, monospace;
  font-size: 20px;
  line-height: 1.5;
  color: tomato;
  background-color: peachpuff;
}
.main-section {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  height: auto;
}

div.logo {
  margin-top: 1%;
  margin-bottom: 1%;
}
div.title {
  border-left: 5px dashed rgb(46, 64, 136);
  page-break-after: auto;
  padding: 20px;
  margin: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  overflow: y 20px;
  overflow-x: 20px;
  font-size: 17px;
}
.text-container-first {
  display: flex;
  justify-content: flex-start;
}
.image {
  width: 500px;
  min-height: auto;
  float: left;
  padding-right: 50px;
  font-size: 20px;
}

/* Style texte */
